body {
  font-family: "Raleway", sans-serif;
}

/* Navbar */

.bg-dark {
  background-color: #ffd2d2 !important;
}

#logo {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 800;
  color: rgb(59, 41, 51);
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(59, 41, 51);
  font-weight: 600;
}

/* Hero Section */

#Hero-Section {
  background-image: linear-gradient(rgba(12, 10, 10, 0.571), rgba(24, 22, 22, 0.462)), url("../img/img-banner.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

h1{
  font-size: 4em !important;
}

.btn-outline-info{
  border-color: #ffd2d2;
  background-color: #ffd2d26a;
}

.btn-info{
  background-color: #ff9b9b;
  border-color: #ff9b9b;
}
.btn-info:hover{
  background-color: #ff7f7f;
  border-color: #ff7f7f;
}

.btn-info:focus{
  box-shadow: 0 0 0 0.25rem rgba(255, 123, 123, 0.5);
}

.btn-outline-info:hover{
  background-color: #ffbcbc !important;
  border-color: #ffbcbc !important; 
  color: white;
}

.btn-outline-info:focus{
  box-shadow: 0 0 0 0.25rem rgba(255, 210, 210, 0.5);
}

/* Acerca de mí */
.fa-object-group{
  font-size: 3em;
  color: rgb(59, 41, 51);
}

.fa-paste{
  font-size: 3em;
  color: rgb(59, 41, 51);
}

.fa-code{
  font-size: 3em;
  color: rgb(59, 41, 51);
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bg-info{
  background-color: #ffecec !important;
}

.btn-card{
  color: #000000 !important;
  border-color: #ff7f7f;
}

.btn-link{
  text-decoration: none;
  color: #000000 !important;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
